
<h1>Adding to your Wishlist</h1>

<form ng-submit="controller.save()">
    <div>
        <label>Title</label>
        <input placeholder="Title" ng-model="controller.wish.title" />
    </div>
    <div>
        <label>Author</label>
        <input placeholder="Author" ng-model="controller.wish.author" />
    </div>
    <div>
        <label>Price</label>
        <input placeholder="Price" ng-model="controller.wish.price" />
    </div>
    <div>
        <label>Location</label>
        <input placeholder="Location" ng-model="controller.wish.location" />
    </div>
    <div>
        <button type="button" ng-click="controller.pickFile()" class="btn btn-sm btn-warning">Upload Image</button>
        <img ng-src="{{controller.file.url|fpConvert:{w:300} }}" alt="{{controller.file.filename}}" />
    </div>
    <input type="submit" class="btn btn-sm btn-primary" value="Add to Wishlist" />
</form>