<h2>About BookTracker</h2>
<img src="../../images/Yomiko.jpg" width="350" height="250" class="img-rounded" />
<br />
<br />
<p>
    Welcome to the BookTracker built specifically for your personal use! This tracker is for those who love to keep hard copies of all
    the books that they love to read but just have such an expansive library that it's just too hard to keep track of. BookTracker will help you remember them to prevent you from purchasing multiple copies of the same book and point you to the right ones to buy.
</p>